* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    display: grid;
    grid-template-columns: 1fr 80vw;
    grid-template-rows: 15vh 85vh;
    grid-template-areas: 
        "sdbr head"
        "sdbr main";
    background-color: seashell;
}

/* head */

.head {
    grid-area: head;
    background: linear-gradient(#cbcbf5e1, rgba(255, 245, 238, 0.945));
    justify-items: center;
}

h1 {
    text-align: center;
    position: relative;
    margin: 10px;
}

#submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    margin: 20px;
    height: 20px;
}

#submit {
    margin-top: 15px;
    opacity: 0.7
}

#submit:hover {
    opacity: 1;
}

/* pantry sidebar */
.sidebar {
    grid-area: sdbr;
    border-right: 1px solid rgb(138, 136, 132);
}

#text-bar {
    margin: 20px 10px 10px 10px;
    justify-content: center;
}

button {
    padding: 3px;
    margin: 10px;
    border-radius: 20px;
}

li {
    margin: 10px;
}

/* main container */

.main {
    grid-area: main;
}

#images {
    position: absolute;
    display: grid;
    justify-items: center;
    grid-template-columns: 40vw 40vw;
}

#images>a {
    z-index: 1;
}

img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 20%;
    grid-column: span 1;
    margin: 10px;
    border: solid gray 2px;
}

img:hover {
    animation-name: fade;
    animation-fill-mode: forwards;
    animation-duration: 100ms;
}

#meal-titles {
    position: absolute;
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 262px 262px 262px;
    justify-items: center;
    padding: 30px 100px 30px 0px;
}

#meal-titles>p {
    margin: 30px 15vw 0 15vw;
    z-index: -1;
    text-decoration: none;
}


@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0; 
    }
}

@media only screen and (max-width: 640px) {
    body {
        display: grid;
        grid-template-columns: auto 40vw;
        grid-template-rows: auto 15vh 60vh;
        grid-template-areas: 
            "sdbr sdbr"
            "head head"
            "main main";
    }
    #submit-button, h1 {
        flex-direction: column;
    }
    #submit {
        justify-content: center;
    }
    img {
        width: 150px;
        height: 150px;
    }
    #meal-titles>p {
        font-size: 12px;
    }
    #images {
        
    }
} 