* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    display: grid;
    grid-template-columns: 1fr 80vw;
    grid-template-rows: 15vh 100vh;
    grid-template-areas: 
        "sdbr head"
        "sdbr main";
    background-color: seashell;
}

/* head */

.head {
    grid-area: head;
    background: linear-gradient(#cbcbf5e1, rgba(255, 245, 238, 0.945));
    justify-items: center;
}

h1 {
    text-align: center;
    position: relative;
    margin: 10px;
    opacity: 0.7;
}

#submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.head>i {
    margin-top: 15px;
    opacity: 0.7
}

#submit:hover {
    opacity: 1;
}

/* pantry sidebar */
#submit {
    margin-top: 15px;
    opacity: 0.7
}

.sidebar {
    grid-area: sdbr;
    border-right: 1px solid rgb(138, 136, 132);
}

#pantry {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#pantry>p {
    font-size: 0.9rem;
    font-family: Helvetica;
    margin: 0 auto 5px auto;
    font-weight: 100;
}

#diet {
    margin: 0 auto 10px auto;  
    width: 150px;
}

#text-bar {
    margin: 20px 10px 0 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

button {
    padding: 3px;
    margin: 10px auto 10px auto;
    width: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
}

button:hover {
    background-color: rgb(96, 121, 129);
}

#spicy-option {
    margin: 10px auto;
    /* margin-left: 20px;
    margin-top: 10px; */
}

label {
    font-size: 0.8rem;
    font-family: Helvetica;
    font-weight: 150;
    align-items: center;
    font-style: italic;
}


li {
    margin-top: 10px;
    margin-left: 40px;
    font-family: Helvetica;
    font-weight: 300;
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
}

/* main container */

.main {
    grid-area: main;
}

#images {
    position: absolute;
    display: grid;
    justify-items: center;
    grid-template-columns: 40vw 40vw;
}

#images>a {
    z-index: 1;
}

img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 20%;
    grid-column: span 1;
    margin: 10px;
    border: solid gray 2px;
    opacity: 0.9;
    transition: opacity 650ms;
}

img:hover {
    opacity: 0;
}

#meal-titles {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 262px 262px 262px;
    justify-items: center;
}

#meal-titles>p {
    margin: 70px 13vw 0 13vw;
    z-index: -1;
    font-weight: 200;
    line-height: 1.5rem;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    body {
        display: grid;
        grid-template-columns: auto 40vw;
        grid-template-rows: auto 15vh 60vh;
        grid-template-areas: 
            "sdbr sdbr"
            "head head"
            "main main";
    }
    #submit-button, h1 {
        flex-direction: column;
    }
    #submit {
        justify-content: center;
    }
    img {
        width: 150px;
        height: 150px;
    }
    #meal-titles>p {
        font-size: 12px;
    }
    #images {
        
    }
} 

/* haven't formated for larger screens yet */

/* @media only screen and (min-width: 1024px) {
    
} */